@font-face {
    font-family: MISARoboto;
    src: url('../../font//Roboto-Regular.ttf');
}

@font-face {
    font-family: MISARoboto-Bold;
    src: url('../../font/Roboto-Bold.ttf');
}

@font-face {
    font-family: MISARoboto-Italic;
    src: url('../../font/Roboto-Italic.ttf');
}

@font-face {
    font-family: MISARoboto-Medium;
    src: url('../../font/Roboto-Medium.ttf');
}